<!-- set a default userRole to prevent this page from crashing -->
<% var userRole; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thePayroll Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
      <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="text-white" id="sidebar-wrapper">
          <div class="sidebar-heading"><h1 class="text-primary">the<span class="text-white">Payroll</span></h1></div>
          <div class="list-group list-group-flush">
            <a href="./dashboard" class="sidebar-button list-group-item list-group-item-action  text-white">Dashboard</a>
            <a href="./datefilter" class="sidebar-button list-group-item list-group-item-action  text-white">Payroll Entry</a>
            <a href="./t4s" class="sidebar-button list-group-item list-group-item-action  text-white">T4s</a>
            <% 
              if(userRole === "Employee"){
                %>
                <a href="./workinghours" class="sidebar-button list-group-item list-group-item-action  text-white">Input Working Hours</a>
                <% 
              } 
              else{
                ``
              } 
            %>
            <a href="./logout" class="sidebar-button list-group-item list-group-item-action text-white">Logout</a>
          </div>
          
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">