<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Microsoft Teams Hello World Sample App
  </title>
  <link rel="stylesheet" type="text/css" href="/css/msteams-16.css">
  </link>
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  </link>
  <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
  <script src="/scripts/teamsapp.js"></script>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">Configure your app here
        <p>
          <div>
            <label for="tabChoice"></label>Select the tab you would like to see:
            <select id="tabChoice" name="tabChoice">
              <option value="" selected="selected">(Select a tab)</option>
              <option value="first">Home</option>
            </select>
          </div>
        </p>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
