<%- include('./layout/header'); %>
<% var info; %>
    <h1 class="my-4">Payroll Entry</h1>
    <p class="text-danger"><%= info %></p>
    <form id="Filter" name="Filter" style="width: 300px" method="POST" action="datefilter">
        <label>Please input the starting week you want:</label>
        <div class="form-group row">
            <lable for="year" class="col-sm-4 col-form-label">Year:</lable> 
            <div class="col-sm-8">
                <input type="text" class="form-control" id="year" name="year" placeholder="Enter year" />
            </div>
        </div>
        <div class="form-group row">
            <label for="week" class="col-sm-4 col-form-label">Week:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="week" name="week" placeholder="Enter week"/>
            </div> 
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Submit</button>
    </form>
<%- include('./layout/footer'); %>