<%- include('./layout/header'); %>
<% var editFile; %>
    <h1 class="my-4">Input Working Hours</h1>
    <form id="workinghours" name="workinghours" style="width: 400px" method="POST" action="">
        <label>Please complete the following infomation:</label>
        <div class="form-group row">
            <label for="employeeId" class="col-sm-5 col-form-label">Employee Id</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="employeeId" id="employeeId" placeholder="Employee Id" value='<%= editFile[0] %>' />
            </div>
        </div>
        <div class="form-group row">
            <label for="regularHours" class="col-sm-5 col-form-label">Regular Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="regularHours" id="regularHours" placeholder="Regular Hours" value='<%= editFile[1] %>'>
            </div>               
        </div>
        <div class="form-group row">
            <label for="overtimeHours" class="col-sm-5 col-form-label">Overtime Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="overtimeHours" id="overtimeHours" placeholder="Overtime Hours" value='<%= editFile[2] %>'>
            </div>
        </div>
        <div class="form-group row">
            <label for="vacationHours" class="col-sm-5 col-form-label">Vacation Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="vacationHours" id="vacationHours" placeholder="Vacation Hours" value='<%= editFile[3] %>'>
            </div>
        </div>
        <div class="form-group row">
            <label for="statutoryHours" class="col-sm-5 col-form-label">Statutory Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="statutoryHours" id="statutoryHours" placeholder="Statutory Hours" value='<%= editFile[4] %>'>
            </div>
        </div>
        <div class="form-group row">
            <label for="sickHours" class="col-sm-5 col-form-label">Sick Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="sickHours" id="sickHours" placeholder="Sick Hours" value='<%= editFile[5] %>'>
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-5 col-form-label">Date</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" name="date" id="date" placeholder="Date" value='<%= editFile[6].substring(0,10)%>'>
            </div>
        </div>
        <div class="form-group row">
            <label for="isApprove" class="col-sm-5 col-form-label">Is Approved</label>
            <div class="col-sm-7">
                <select id="isApproved" name="isApproved">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>         
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Submit</button>
    </form>
<%- include('./layout/footer'); %>