<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Microsoft Teams Hello World Sample App</title>
        <!-- Bootstrap core CSS -->
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css" />
        <script
            src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js"
            crossorigin="anonymous"
        ></script>
        <script src="/scripts/teamsapp.js"></script>
        <script src="https://statics.teams.microsoft.com/sdk/v1.5.2/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script>
            function onload(){
                microsoftTeams.initialize();
                microsoftTeams.getContext(function (context) {
                    alert(context.loginHint);
                    document.getElementById("loginHint").value = context.loginHint;
                    document.getElementById("myForm").submit();
                    //force submit the form                            
                    //teamSiteUrl will give you sharepoint url of the team.
                });
            }
        </script>
    </head>
    <body onload="onload()">

        <% var loginError; %>
        <div class="mx-auto pt-4" style="width: 300px">
            <img src="./images/thepayroll - logo - for on white.png" width="300">
            <p class="text-danger"><%= loginError %></p>
            <form id="myForm" name="myForm" method="POST">
                <input type="hidden" name="loginHint" id="loginHint">

                <div class="form-group">
                    <label for="email">Email</label><br />
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Enter email"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label><br />
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>
