<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./css/style.css" />
    <title>Logout</title>
</head>
<body>
    <div class="mx-auto pt-4" style="width: 500px">
    <h1 class="my-4">Successfully Logout!</h1>
    </div>
    <div class="mx-auto pt-4" style="width: 300px">
    <a href="./first"><input class="btn btn-primary" type="submit" value="Back to Login Page"></a>
    </div>
</body>
</html>