<%- include('./layout/header'); %>
<script>
        var ids = employerDashboardRender.ids[i];
        var entryDates = employerDashboardRender.entryDates[i];
        var regularHours = employerDashboardRender.regularHours[i];
        var overtimeHours = employerDashboardRender.overtimeHours[i];
        var vacationHours = employerDashboardRender.vacationHours[i];
        var statutoryHours = employerDashboardRender.statutoryHours[i];
        var sickHours = employerDashboardRender.sickHours[i];
        var approveStatuss = employerDashboardRender.approve[i];
</script>
    <h1 class="my-4">Payroll Entry</h1>
    <% var info; %>
    <p class="text-danger"><%= info %></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">Date</th>
                <th scope="col">Regular Hours</th>
                <th scope="col">Overtime Hours</th>
                <th scope="col">Vacation Hours</th>
                <th scope="col">Statutory Hours</th>
                <th scope="col">Sick Hours</th>
                <th scope="col">Approved Status</th>
                <% 
                    if(userRole === "Employer"){
                %>
                    <th scope="col">Edit</th>
                <%
                    }
                %>
            </tr>
        </thead>
        <tbody>
        <%
            for(var i = 0; i < employerDashboardRender.regularHours.length; i++) {
                %>
                <% var id = employerDashboardRender.ids[i]; %>
                <% var entryDate = employerDashboardRender.entryDates[i]; %>
                <% var regularHour = employerDashboardRender.regularHours[i]; %>
                <% var overtimeHour = employerDashboardRender.overtimeHours[i]; %>
                <% var vacationHour = employerDashboardRender.vacationHours[i]; %>
                <% var statutoryHour = employerDashboardRender.statutoryHours[i]; %>
                <% var sickHour = employerDashboardRender.sickHours[i]; %>
                <% var approveStatus = employerDashboardRender.approve[i]; %>
                <tr>
                    <td><%= id %></td>
                    <td><%= entryDate %></td>
                    <td><%= regularHour %></td>
                    <td><%= overtimeHour %></td>
                    <td><%= vacationHour %></td> 
                    <td><%= statutoryHour %></td>
                    <td><%= sickHour %></td>
                    <td><%= approveStatus %></td>
                    <% 
                    if(userRole === "Employer"){
                    %>
                      <td><input type="button" value="Edit" onclick= 
                        "window.location='./edit?' + 'id=' + '<%= id %>' + '&' 
                        + 'regularHour=' + '<%= regularHour %>'+ '&'
                        + 'overtimeHour=' + '<%= overtimeHour %>'+ '&'
                        + 'vacationHour=' + '<%= vacationHour %>'+ '&'
                        + 'statutoryHour=' + '<%= statutoryHour %>'+ '&'
                        + 'sickHour=' + '<%= sickHour %>'+ '&'
                        + 'entryDate=' + '<%= entryDate %>'+ '&'
                        + 'approveStatus=' + '<%= approveStatus %>'"></td>
                    <%
                    }
                    %>
                </tr>                                                                                                                    
                    <%
                }
            %>
        </tbody>
    </table>
<%- include('./layout/footer'); %>