<%- include('./layout/header'); %>
    <h1 class="my-4">Input Working Hours</h1>
    <form id="workinghours" name="workinghours" style="width: 400px" method="POST">
        <label>Please complete the following infomation:</label>
        <div class="form-group row">
            <label for="employeeId" class="col-sm-5 col-form-label">Employee Id</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="employeeId" id="employeeId" placeholder="Employee Id" />
            </div>
        </div>
        <div class="form-group row">
            <label for="regularHours" class="col-sm-5 col-form-label">Regular Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="regularHours" id="regularHours" placeholder="Regular Hours">
            </div>               
        </div>
        <div class="form-group row">
            <label for="overtimeHours" class="col-sm-5 col-form-label">Overtime Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="overtimeHours" id="overtimeHours" placeholder="Overtime Hours">
            </div>
        </div>
        <div class="form-group row">
            <label for="vacationHours" class="col-sm-5 col-form-label">Vacation Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="vacationHours" id="vacationHours" placeholder="Vacation Hours">
            </div>
        </div>
        <div class="form-group row">
            <label for="statutoryHours" class="col-sm-5 col-form-label">Statutory Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="statutoryHours" id="statutoryHours" placeholder="Statutory Hours">
            </div>
        </div>
        <div class="form-group row">
            <label for="sickHours" class="col-sm-5 col-form-label">Sick Hours</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="sickHours" id="sickHours" placeholder="Sick Hours">
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-sm-5 col-form-label">Date</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" name="date" id="date" placeholder="Date">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Submit</button>
    </form>
<%- include('./layout/footer'); %>