* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.leftCol {
    background-color: #69A6FF;
    padding: 10px;
    float: left;
    width: 15%;
    min-height: 900px;
}

.leftCol p {
    margin: 20px 10px 40px;
    color: #3955f2;
    font-weight: bolder;
    font-size: 40px;
}

.leftCol p span {
    color: white;
}

.leftCol ul {
    list-style-type: none;
}

.leftCol ul li {
    margin: 40px 10px;
    color: white;
    font-size: 25px;
    padding: 5px;
    display: flex;
    align-content: center;
}

.leftCol ul li a {
    color: white;
    text-decoration: none;
}

.leftCol ul li a:hover {
    color: black;
    font-weight: bolder;
}

.leftCol ul li img {
    margin-right: 10px;
}

.rightCol h1 {
    padding: 10px;
    margin-left: 18%;
    font-size: 2em;
}

.rightCol hr {
    width: 80%;
    margin: 1.5em auto;
}

.rightCol #userPic {
    float: left;
    margin: 25px;
}

.rightCol label{
    float: left;
    width: 300px;
    text-align: right;
    font-size: 1.5em;
    color: grey;
}

.rightCol input, .rightCol select {
    margin-bottom: 2em;
    margin-left: 10px;
    height: 28px;
    width: 400px;
    padding-left: 2px;
    font-size: large;
}

.rightCol button {
    width: 80px;
    height: 30px;
    margin-left: 35%;
    box-shadow: 2px 2px navy;
    background-color: silver;
    border-radius: 5px;
    font-size: large;
}

#currentPay {
    margin-left: 18%;
    margin-bottom: 40px;
}

.payPeriod {
    margin-left: 20%;
    height: 150px;
    padding: 10px;
}


.payStart {
    width: 10%;
    float: left;
    padding: 5px;
}

.payEnd {
    width: 10%;
    float: left;
    border-left: grey dotted 2px;
    padding: 5px;
    padding-left: 40px;
    
}

.nextPay {
    color: white;
    background-color: #69A6FF;
    border: white;
    border-radius: 10px;
    width: 11%;
    float: left;
    margin-left: 50px;
    padding: 5px;
}

#entitlement {
    margin-left: 18%;
    margin-bottom: 40px;
}

.entitlement {
    margin-left: 20%;
    height: 100px;
}

.vacation {
    width: 15%;
    float: left;
}

.sick {
    width: 15%;
    float: left;
}

footer {
    clear: both;
}